body {
    background: #fff;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.app {
    display: flex;
    flex-direction: row;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.change-state div,
.open,
#bmenu,
#close {
    cursor: pointer;
}

.chat-inner-container {
    overflow-y: scroll;
}

.footer {
    font-weight: 300;
    position: absolute;
    bottom: 5px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.nav {
    height: 100vh;
    max-width: 30%;
    background-color: #e2eeff;
    position: absolute;
    right: 0;
    top: 0;
}

.no-ticket,
.project-name,
.stage-title,
.ticket {
    box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.1);
}

.no-ticket,
.stage-title,
.ticket {
    background: #ffffe3;
}

.open {
    text-decoration: underline;
}

.project-name {
    background: rgb(176, 252, 246);
    background: linear-gradient(
        135deg,
        rgba(176, 252, 246, 1) 0%,
        rgba(221, 255, 252, 1) 50%,
        rgba(255, 252, 241, 1) 100%
    );
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.stage-column {
    font-weight: 300;
}

.stage-inner-container {
    background: #ffdef2;
}

.stage-title,
.ticket-info {
    text-align: center;
}

.success {
    -webkit-animation: fadeout 2s;
    animation: fadeout 2s;
    opacity: 0;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ticket-container,
.upload {
    width: 60%;
}

.ticket-container {
    background: rgb(242, 226, 255);
    background: linear-gradient(
        163deg,
        rgba(242, 226, 255, 1) 0%,
        rgba(242, 226, 255, 1) 50%,
        rgba(255, 250, 231, 1) 100%
    );
    margin: 0 auto;
}

.ticket-inner-container {
    background: white;
}

.upload {
    height: 300px;
    background: hotpink;
}

#bmenu {
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) {
    .add,
    .add div,
    .header {
        display: flex;
        flex-direction: row;
    }

    .add,
    .add div {
        align-items: center;
    }

    .add-sth input {
        width: 300px;
    }

    .add,
    .header {
        margin-left: 10px;
    }

    .add div {
        margin-right: 10px;
    }

    .board {
        margin-top: 20px;
        margin-left: 30px;
    }

    .change-state {
        padding: 10px;
    }

    .change-state div {
        width: 200px;
        padding: 10px;
        margin: 0 auto;
    }

    .change-state :last-child {
        background: #fb8f67;
        color: white;
    }

    .change-state #change {
        background: rgba(0, 0, 0, 0.3);
        color: white;
        transition: all 0.2s ease-in;
    }

    .change-state #change:hover {
        transform: scale(1.1);
        background: white;
        color: black;
    }

    .chat-container {
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 10px;
        margin-top: 10px;
    }

    .chat-container textarea {
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        width: 97%;
        height: 30px;
        padding: 10px;
        margin: 0 auto;
        resize: none;
    }

    .chat-container,
    .project-name,
    .stage-container div {
        border-radius: 10px;
    }

    .chat-inner-container {
        height: 200px;
        padding: 10px;
    }

    .footer {
        font-size: 12px;
    }

    .header {
        align-items: flex-start;
    }

    .logo {
        margin-right: 20px;
    }

    .logo img {
        height: 70px;
    }

    .message-unit .avatar-wrapper .avatar {
        height: 30px;
    }

    .nav {
        width: 250px;
        padding: 10px;
        -webkit-animation: fadein 1s;
        animation: fadein 1s;
    }

    @keyframes fadein {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }

    .nav .avatar {
        width: 100px;
        height: 100px;
    }

    .nr-msgs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        font-size: 12px;
    }

    .nr-msgs img {
        width: 15px;
    }

    .nr-msgs,
    .ticket-title {
        margin: 0 !important;
    }

    .open img {
        height: 30px;
    }

    .project-name {
        margin-bottom: 10px;
    }

    .project-name h1 {
        margin: 15px;
    }

    .stage-container {
        display: grid;
        grid-template-columns: repeat(6, 205px);
        max-height: 400px;
        overflow-y: scroll;
    }

    .stage-container div {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .stage-container div div {
        min-height: 0;
        overflow: hidden;
        padding: 5px;
    }

    .stage-inner-container .no-ticket {
        padding: 10px;
    }

    .stage-title {
        font-weight: 500 !important;
        margin-bottom: 20px !important;
    }

    .ticket-container {
        margin-top: 3%;
        height: 490px;
    }

    .ticket-inner-container {
        margin: 20px;
        height: 430px;
    }

    .ticket-container .close {
        position: fixed;
        right: 300px;
        font-weight: lighter;
        font-size: 12px;
    }

    .ticket-container .close:hover {
        font-weight: bold;
    }

    .ticket-container,
    .ticket-inner-container {
        border-radius: 0.7em;
        padding: 10px;
    }

    .ticket-created {
        margin: 10px;
        font-size: 12px;
        font-weight: lighter;
    }

    .ticket-info .open {
        font-weight: 500;
    }
}
