body {
    background: #fff;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.change-state div,
.open,
#bmenu,
#close {
    cursor: pointer;
}

.open {
    text-decoration: underline;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}

.board {
    margin-top: 20px;
}

.body {
    display: flex;
    flex-direction: row;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.nav {
    height: 100vh;
    max-width: 30%;
    background-color: #e2eeff;
    position: absolute;
    right: 0;
    top: 0;
}

.stage-container div {
    border-radius: 0.3em;
    background: #ffdef2;
    font-weight: 300;
}

.stage-container div div {
    background: #ffffe3;
}

.success {
    -webkit-animation: fadeout 2s;
    animation: fadeout 2s;
    opacity: 0;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ticket-container {
    width: 60%;
    height: 500px;
    overflow-y: scroll;
    background: linen;
    margin: 0 auto;
    border-radius: 0.7em;
    padding: 10px;
}

#bmenu {
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1600px) {
    .add,
    .add div,
    .header {
        display: flex;
        flex-direction: row;
    }

    .add,
    .add div {
        align-items: center;
    }

    .add-sth input {
        width: 300px;
    }

    .add div {
        margin-right: 10px;
    }

    .header {
        align-items: flex-start;
    }

    .logo img {
        height: 30px;
    }

    .message-unit .avatar-wrapper .avatar {
        height: 30px;
    }

    .nav {
        width: 250px;
        -webkit-animation: fadein 1s;
        animation: fadein 1s;
    }

    @keyframes fadein {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0%);
        }
    }

    .nav .avatar {
        width: 100px;
        height: 100px;
    }

    .nr-msgs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        font-size: 12px;
    }

    .nr-msgs img {
        width: 15px;
    }

    .open img {
        height: 30px;
    }

    .stage-container {
        display: grid;
        grid-template-columns: repeat(6, 200px);
        max-height: 400px;
        overflow-y: scroll;
    }

    .stage-container div {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .stage-container div div {
        min-height: 0;
        overflow: hidden;
        padding: 5px;
    }

    .ticket {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }
}
